// Case study Slider

#clientLogoSlider {
  .clientLogoSlider {
    &__container {
      padding: 6.1875rem 1rem 1.5625rem 1rem;
    }
    &__wrapper {
      display: flex;
      gap: 3.125rem;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &__content {
      .section-title {
        p {
          padding-inline: 10%;
        }
      }
    }
    .swiper-pagination {
      display: none;
    }
  }
}

// Case study grid

.caseStudyGrid {
  padding: 3.125rem 0;
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    .section-title {
      padding-inline: 10%;
      .subtitle-2 {
        padding-inline: 0;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    animation: tabFade 0.7s ease;

    &.listView {
      grid-template-columns: 1fr;
    }
  }
  @keyframes tabFade {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__card {
    min-height: 31.25rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition:
      transform 0.3s,
      box-shadow 0.3s;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    animation: shrinkIn 0.3s forwards;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }

    @keyframes shrinkIn {
      0% {
        transform: scale(1.2);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    &-content {
      position: absolute;
      top: 40%;
      padding: 1.25rem 2.25rem;
      padding-bottom: 3.125rem;
      background: linear-gradient(
        180deg,
        rgba(0, 2, 72, 0.0024) 14%,
        rgba(0, 2, 72, 0.44) 32%,
        rgba(0, 2, 72, 0.8) 71%
      );
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      transition:
        all 0.3s ease-in-out,
        justify-content 0.3s ease-in-out 0.3s;
      color: white;
      width: 100%;
      height: 100%;

      h3,
      p {
        color: white;
      }

      p {
        opacity: 0;
        margin-bottom: 2.5rem;
        @media #{$sm-layout} {
          margin-bottom: 1rem;
        }
      }

      h3 {
        padding-top: 5rem;
        padding-bottom: 1rem;
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        position: sticky;
        transition: all 0.3s ease-in-out;
      }
    }

    .caseStudyBtn {
      button {
        font-family: $primary-font;
      }
      .hoverable {
        width: 100%;
        &::before {
          background-color: #f6f6f6;
        }
        &::after {
          border: 1px solid #f6f6f6;
        }
      }
      .btn-solid {
        color: #000248;
      }

      button:hover,
      a.axil-button.btn-solid.btn-extra07-color:hover {
        color: #ffffff !important;
      }
    }

    &:hover {
      .caseStudyGrid__card-content {
        background: rgba(0, 2, 72, 0.6) 45.82%;
        top: 0;
        transition: all 0.3s ease-in-out;
        animation: moveDown 0.3s ease-in-out 0.15s forwards;
        @media #{$sm-layout} {
          animation: none;
        }

        &::after {
          content: '';
          width: 100%;
          height: 300px;
          top: 100%;
          left: 0;
          position: absolute;
          background: rgba(0, 2, 72, 0.6) 45.82%;
        }

        p {
          opacity: 1;
        }
      }
    }

    &.mouseleave {
      .caseStudyGrid__card-content {
        transition: all 0.3s ease-in-out;
        animation: moveUp 0.3s ease-in-out 0.15s forwards;
        @media #{$sm-layout} {
          animation: none;
        }
      }
    }

    @keyframes moveDown {
      0% {
        translate: 0;
      }
      50% {
        translate: 0 -3%;
      }
      100% {
        translate: 0;
      }
    }
    @keyframes moveUp {
      0% {
        translate: 0;
      }
      50% {
        translate: 0 3%;
      }
      100% {
        translate: 0;
      }
    }
  }

  &__tabs {
    ul {
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      padding-top: 1.875rem;
      margin-bottom: 3.125rem;
      flex-wrap: wrap;

      li {
        list-style-type: none;

        button {
          background: #ffff;
          padding: 0.3125rem 1.5625rem;
          color: #757898;
          font-size: 1.125rem;
          line-height: 1.75rem;
          font-weight: 400;
          min-width: 9.55rem;
          font-family: $primary-font;
          border: 0.0625rem solid rgba(4, 5, 14, 0.2);
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          &.active {
            color: #f6f6f6;
          }

          &:not(.list):hover {
            background: #000248;
            padding: 0.3125rem 1.5625rem;
            color: #fff;
          }
        }
      }
    }
  }

  &__tab-btn {
    &.active {
      color: $white-color;
      background-color: $secondary-color;
    }
    &.list {
      border-radius: 4px;
      color: $secondary-color;

      &.active,
      &:hover {
        color: $primary-color;
        background: transparent;
        border-color: $primary-color;
      }
    }
  }
  @media #{$lg-layout} {
    &__wrapper {
      gap: 1rem;
    }

    &__card {
      min-height: 27.25rem;
      &-content {
        padding: 1rem;
        padding-bottom: 2.5rem;
        top: 45%;
        background: linear-gradient(
          180deg,
          rgba(0, 2, 72, 0.0024) 14%,
          rgba(0, 2, 72, 0.44) 23%,
          rgba(0, 2, 72, 0.8) 71%
        );

        h3 {
          padding-top: 2rem;
          line-height: 2.0625rem;
        }
        p {
          font-size: 20px;
          line-height: 30px;
          font-weight: 500;
        }
      }
      &:hover {
        .caseStudyGrid__card-content {
          background: rgba(0, 2, 72, 0.8) 45.82%;
          backdrop-filter: blur(5px);
          transition: 0.3s all ease-in-out;
          &::after {
            background: rgba(0, 2, 72, 0.8) 45.82%;
          }
        }
      }
    }
  }

  @media #{$md-layout} {
    padding: 3.125rem 0;
    &__container {
      gap: 1rem;
    }

    &__card {
      min-height: 22.25rem;
      &-content {
        padding: 1rem;
        padding-bottom: 1.875rem;
        top: 50%;

        h3 {
          padding-top: 1rem;
        }
      }
    }

    &__wrapper {
      gap: 1rem;
    }

    &__card {
      &-content {
        h3 {
          font-size: 30px;
          padding-top: 2rem;
          line-height: 2.0625rem;
        }
      }
      &:hover {
        .caseStudyGrid__card-content {
          background: rgba(0, 2, 72, 0.8) 45.82%;
          &::after {
            background: rgba(0, 2, 72, 0.8) 45.82%;
          }
        }
      }
    }
  }

  @media #{$sm-layout} {
    padding: 1.875rem 0;
    &__container {
      gap: 1rem;
    }

    &__card {
      min-height: 18.125rem;
      &-content {
        top: 50%;
        background: linear-gradient(
          180deg,
          rgba(0, 2, 72, 0.0024) 4%,
          rgba(0, 2, 72, 0.44) 17%,
          rgba(0, 2, 72, 0.8) 71%
        );
      }

      &:hover {
        .caseStudyGrid__card-content {
          top: 50%;
          background: linear-gradient(
            180deg,
            rgba(0, 2, 72, 0.0024) 4%,
            rgba(0, 2, 72, 0.44) 17%,
            rgba(0, 2, 72, 0.8) 71%
          );
          p {
            opacity: 0;
          }
        }
      }

      &-content {
        padding: 1rem;
        padding-bottom: 1.5rem;
        top: 50%;
        h3 {
          font-size: 30px;
          padding-top: 2rem;
          line-height: 2.0625rem;
          span {
            font-size: 20px;
          }
        }
      }
    }

    &__wrapper {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__tabs {
      ul {
        gap: 1rem;
        padding: 4px 0 24px 0;
        margin-bottom: 0;
        li {
          button {
            min-width: auto;
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  @media #{$large-mobile} {
    &__card {
      &-content {
        padding: 0.5rem;
      }
    }
  }
}

.caseStudy {
  &__case {
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid $secondary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media #{$md-layout}, #{$sm-layout} {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    @media #{$sm-layout}, #{$md-layout} {
      padding: 1rem;
      order: 2;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__logo {
    width: auto;
    height: 100%;
    max-height: 72px;
    object-fit: cover;

    @media #{$sm-layout} {
      max-height: 48px;
    }
  }

  &__category {
    font-size: 16px;
    line-height: 26px;
    color: $secondary-color;
    font-weight: 600;
    border: 1px solid $secondary-color;
    padding: 6px 12px;
    background: #f0f9ff;
    border-radius: 4px;
    text-transform: uppercase;

    @media #{$sm-layout} {
      font-size: 12px;
      line-height: 18px;
      padding: 7px 10px;
    }
  }
  &__desc {
    margin-bottom: 1rem;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  &__tech {
    margin-bottom: 2rem;
    @media #{$sm-layout} {
      margin-bottom: 1.5rem;
    }
  }
  &__tech-title {
    color: $secondary-color;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 12px;

    @media #{$sm-layout} {
      font-size: 16px;
    }
  }

  &__tech-logos {
    display: flex;
    gap: 16px;
    @media #{$sm-layout} {
      gap: 12px;
    }
  }

  &__tech-logo {
    padding: 8px;
    background: $white-color;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba($secondary-color, 0.1);

    @media #{$sm-layout} {
      padding: 6px;
      max-width: 32px;
      width: 100%;
      height: 32px;
    }
  }
  &__btn {
    margin-top: 2rem;
  }

  &__featureImages {
    min-width: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .caseStudySwiper {
      height: 100%;
    }

    @media #{$sm-layout} {
      aspect-ratio: 67/48;
      height: 100%;
      width: 100%;

      .swiper-pagination {
        display: none;
      }
    }
  }
}

// Case study section counter

.counterThree {
  padding: 3.125rem 1rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 79.25rem;
    padding: 6.25rem 3.75rem;
  }

  &__content {
    max-width: 24.375rem;
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(6.25rem, auto));
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 44.6875rem;
  }

  &__card {
    display: grid;
    text-align: center;
    place-items: center;
    flex-direction: column;

    h3 {
      font-weight: 700;
      font-size: 3.125rem;
      line-height: 3.875rem;
      margin-bottom: 0;
    }
  }

  @media #{$lg-layout} {
    padding: 3.125rem 1rem;

    &__container {
      flex-direction: column;
      padding: 6.25rem 1rem;
      gap: 2rem;
    }

    &__content {
      max-width: 100%;

      h2 {
        text-align: center;
      }
    }
  }

  @media #{$md-layout} {
    padding: 3.125rem 1rem;

    &__container {
      flex-direction: column;
      padding: 6.25rem 1rem;
      gap: 2rem;
    }

    &__content {
      max-width: 100%;
      text-align: center;

      h2 {
        text-align: center;
      }
    }
  }

  @media #{$sm-layout} {
    padding: 1.875rem 1rem;
    &__container {
      flex-direction: column;
      padding: 1.875rem 1.25rem;
    }

    &__content {
      max-width: 100%;

      h2 {
        text-align: center;
      }
    }

    &__wrapper {
      margin-top: 2rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    &__card {
      h3 {
        font-size: 2rem;
        line-height: 3.875rem;
      }
      p {
        font-size: 0.875rem;
        line-height: 1.5rem;
      }
    }
  }
}

.no-result {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 18.75rem;
  grid-template-columns: 1fr;
}

.clamped-texts {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  @media #{$md-layout} {
    -webkit-line-clamp: 2;
  }
  @media #{$sm-layout} {
    -webkit-line-clamp: 2;
  }
}

//CaseStudy Media section

.casestudyMedia {
  padding: 1.5625rem 1rem;
  padding-bottom: 3.125rem;
  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5.25rem 3.1875rem;
    gap: 2rem;
    margin: 0 10px;
    height: 100%;
  }

  &__reverse {
    flex-direction: row-reverse;
  }

  &__content {
    max-width: 29.375rem;

    .title {
      margin-bottom: 1.375rem;
    }

    .inner {
      .axil-button-group {
        margin-top: 40px;

        @media #{$md-layout} {
          margin-top: 20px;
        }

        @media #{$sm-layout} {
          margin-top: 20px;
        }
      }
    }
  }

  #casestudyMedia__slide {
    height: auto;

    &:hover {
      .logo_image {
        scale: 1.1;
        background-image: linear-gradient(white, white),
          linear-gradient(50deg, #fff, rgba(0, 153, 255, 0.482));
        background-clip: padding-box, border-box;
        background-origin: border-box;
        animation: bg-shine-rotate 1.5s infinite 100ms;

        @keyframes bg-shine-rotate {
          0% {
            background-position: -200% 0;
            transform: rotate(0deg);
          }

          50% {
            transform: rotate(2deg);
          }

          100% {
            background-position: -200% 0;
            transform: rotate(0deg);
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    min-width: 21.875rem;

    .image {
      height: auto;
    }

    .logo {
      &_wrapper {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(15%, -35%);
        max-width: 134px;
        width: 100%;
      }

      &_image {
        width: 100%;
        height: auto;
        object-fit: contain;
        filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.1));
        border-radius: 10px;
        border: 2px solid transparent;
        transition: all ease 0.3s 100ms;
      }
    }
  }

  .swiper-pagination {
    position: unset;
    margin: 20px auto 0;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
  }

  @media #{$lg-layout} {
    &__container {
      padding: 3.125rem 1rem;
      gap: 1rem;
    }
    &__image {
      img {
        object-fit: contain;
      }

      .logo {
        &_wrapper {
          max-width: 100px;
          transform: translate(7%, -35%);
        }
      }
    }
  }

  @media #{$md-layout} {
    &__container {
      padding: 3.125rem 1rem;
      gap: 1rem;
      flex-direction: column-reverse;
    }
    &__image {
      img {
        object-fit: contain;
      }

      .logo {
        &_wrapper {
          max-width: 100px;
          transform: translate(7%, -35%);
        }
      }
    }
  }

  @media #{$sm-layout} {
    padding: 1.875rem 1rem;
    &__container {
      padding: 3.125rem 1rem;
      flex-direction: column-reverse;
    }

    &__content {
      text-align: center;
    }
    &.axile-button-group {
      max-width: fit-content;
      margin: auto;
    }

    &__image {
      width: 100%;
      min-width: auto;

      img {
        object-fit: contain;
        max-height: fit-content;
      }

      .logo {
        &_wrapper {
          max-width: 100px;
          transform: translate(-7%, -35%);
        }
      }
    }
  }
}

#collapsibleCaseStudy {
  &.casestudyMedia {
    #casestudyMedia-btn {
      color: #000248;
      background-color: white;
      &.casestudyMedia-btn::before {
        background-color: white;
      }
      &::after {
        border: 1px solid white;
      }
      &:hover {
        background-color: transparent;
        color: white;
        &::before {
          background-color: transparent;
        }
        &::after {
          border: 1px solid white;
        }
      }
    }
    @media #{$sm-layout} {
      padding: 30px 0 0 0;
    }
  }
  .casestudyMedia {
    &__slides-wrapper {
      gap: 1rem;
      display: flex;
      flex-direction: row;
      @media #{$md-layout} , #{$sm-layout} {
        flex-direction: column;
      }
      @media #{$small-mobile} {
        gap: 1.25rem;
      }
    }

    &__slide {
      transition: all 0.4s ease;
      width: 100%;
      height: 520px;
      cursor: pointer;
      &:hover {
        &.hovered {
          text-shadow: 0 0 12px white;
          .casestudyMedia__plus-icon {
            background-color: white;
            svg {
              stroke: $darkest-color;
            }
          }
        }
        &.active {
          text-shadow: none;
        }
      }
    }

    &__container {
      background-size: cover;
      background-position: center;
      margin: 0;
      overflow: hidden;
      position: relative;
      border-radius: 16px;
      height: 100%;
      @media #{$md-layout}, #{$sm-layout} {
        padding: 20px;
      }
      @media #{$small-mobile} {
        padding: 20px;
        border-radius: 8px;
      }
    }

    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #00024859;
      backdrop-filter: blur(15px);
      &.active {
        backdrop-filter: unset;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(0, 2, 72, 0.4) 50%,
          #000248 100%
        );
      }
    }

    &__logos-wrapper {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      max-height: 356px;
      padding: 68px 46px 0 7%;
      display: flex;
      justify-content: space-between;
      transition: opacity 0.4s ease;
      .casestudylogo_wrapper {
        max-width: 60px;
        height: 60px;
        width: 100%;
        padding: 0 15px;
        display: flex;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(5px);
        border: 1.25px solid #cdcdcd4a;
        overflow: hidden;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      @media #{$md-layout}, #{$sm-layout} {
        padding: 0px;
        max-height: 230px;
      }
      @media #{$small-mobile} {
        padding: 0px;
        max-height: 75px;
        .casestudylogo_wrapper {
          backdrop-filter: blur(2.5px);
          max-width: 40px;
          padding: 0 8px;
          height: 40px;
          border-radius: 100%;
        }
      }
    }

    &__content {
      position: absolute;
      width: 100%;
      max-width: unset;
      bottom: 0;
      padding: 2rem;
      transition: opacity 0.4s ease;

      .title {
        margin-bottom: 12px;
        font-size: 40px;
        line-height: 52px;
        max-width: 450px;
        display: flex;
        align-items: center;

        &-arrow {
          font-size: 20px;
          margin-left: 6px;
          display: none;
        }
      }
      .desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
      }
      @media #{$md-layout}, #{$sm-layout} {
        .title {
          text-align: start;
          margin-bottom: 0;
          font-size: 30px;
          line-height: 32px;
          &-arrow {
            display: inline;
          }
        }
      }
      @media #{$small-mobile} {
        .title {
          font-size: 24px;
          line-height: 30px;
          &-arrow {
            font-size: 16px;
          }
        }
        padding: 12px 20px;
      }
      .axil-button-group {
        margin-top: 24px;
      }
    }

    &__inactive-content {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      padding: 0;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding-block: 48px;
      @media #{$md-layout} , #{$sm-layout} {
        flex-direction: row;
        padding: 20px;
      }
    }

    &__vertical-title {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(180deg);
      font-size: 24px;
      font-weight: 700;
      white-space: nowrap;
      line-height: 1;
      margin: 0;
      @media #{$md-layout}, #{$sm-layout} {
        writing-mode: unset;
        text-orientation: unset;
        transform: unset;
        white-space: unset;
      }
      @media #{$md-layout} {
        font-size: 22px;
        line-height: 28px;
      }
      @media #{$small-mobile} {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &__plus-icon {
      border: 2px solid white;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      svg {
        transition: all 0.3s ease;
      }
      @media #{$small-mobile} {
        width: 24px;
        height: 24px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
    &-link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      @media #{$md-layout}, #{$sm-layout} {
        &.active {
          display: block;
          z-index: 2;
        }
      }
    }
  }
}
